<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.BackgroundMapper">

	<select id="getAll" resultType="Background" >
		select * from background
	</select>

	<select id="selectUser" resultType="Background" parameterType="string" >
			select * from background where back_id = #{backId} and  password=#{password} ;
    </select>
    
    <select id="getById" resultType="Background" parameterType="string" >
			select * from background where back_id = #{backId};
    </select>
    
  <insert id="insert" parameterType="Background">
       insert into background(
	    back_id,password
	    )VALUES (
	      #{backId},
	      #{password}
	    )
    </insert>
     <!--
    <update id="update">
	    update background
	    set password = #{password}, 
	    where back_id = #{id}
	</update>
    
    <delete id="removeByBackgroundId" parameterType="string">
        delete from background where back_id = #{backId};
    </delete>
     -->

</mapper>
