<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.FrontMapper">

    <resultMap id="frontResultMap" type="com.guest.pojo.po.Front">
        <id column="front_id" property="frontId" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
    </resultMap>
   
    <select id="getFrontAlls" resultMap="frontResultMap">
			select * from front;
    </select>
    
     <select id="getFrontById"  parameterType="string" resultMap="frontResultMap" >
			select * from front where front_id = #{frontId};
    </select>
    
     <select id="frontLogin" resultMap="frontResultMap" >
			select * from front where front_id = #{frontId} and password = #{password}
    </select>



    <insert id="insertFront">
	    front_id, name, password, phone
	    )VALUES (
	      #{frontId},
	      #{name},
	      #{password},
	      #{phone}
	    )
    </insert>
    
    <update id="updateFront">
	    update front
	    set name = #{name}, 
	    password = #{password}, 
	    phone = #{phone}
	    where front_id = #{frontId}
	</update>
    
    <delete id="removeByFrontId" parameterType="string">
        delete from front where front_id = #{frontId};
    </delete>

</mapper>
